@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: grey;
}

body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

body {
  background: var(--bg-black-900);
  height: 100%;
  padding-left: 15px;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.back {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  left: 20px;
  top: 20px;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.back i {
  line-height: 40px;
}

.title-port {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 70px;
  margin-left: 50px;
}

.title-port h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.title-port h2::before {
  content: '';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.title-port h2::after {
  content: '';
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.text-port {
  position: relative;
  margin: 10px;
  top: 40px;
}

.text-port-three {
  position: relative;
  width: 400px;
}

.img {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
}

.img-center {
  position: relative;
  width: 800px;
  left: 50%;
  border-radius: 10px;
  cursor: pointer;
}

img,
.div-text {
  display: inline-block;
}

.div-text {
  text-align: center;
  position: relative;
  bottom: 9rem;
  border-radius: 2rem;
  background-color: var(--text-black-700);
  width: 600px;
  height: 150px;
}

.text {
  position: relative;
  top: 20%;
}

.div-links {
  color: var(--text-black-900);
}

@media (max-width: 1270px) {
  .text-port,
  .text-port-two {
    display: flex;
  }
}
